



h2{
	font-family: "Oleo Script", system-ui!important;
}


.overlay{
	background-color: rgba(0,0,0,0.5)!important;
	padding: 350px 0px;
}



.btn-position{
	padding-bottom: 200px!important;
}

.caption1{
	position: absolute!important;
	top: 250px;
}

.caption1 h2{
	font-size: 50px!important;
}

.caption1 p{
	font-size: 22px!important;
}

.caption2{
	padding-bottom: 260px!important;
}



.m-row{
	margin: 70px!important;

}


.image-padding2{
	padding: 360px!important;
}


input::placeholder{
	color:#fff!important;
}







